<div id="container">

  <header>
    <div class="width">
      <h1><a href="/">Github Search</a></h1>
    </div>
  </header>

  <div id="body" class="width">
    <p class="text-center">Welcome, please enter a github repo name or username and search!!</p>
    <aside class="sidebar small-sidebar left-sidebar">

      <ul>
        <li class="text">
          <form method="get" class="searchform" action="#">
            <p>
              <input type="text" placeholder="Enter search item" #search class="s" />
              <button class="btn btn-primary" on-click="doSearch(search.value)">Search</button>
            </p>
          </form>
        </li>
      </ul>

      <ul *ngFor="let owner of AS.results2">
        <span id="a"><img class="img-circle center-block" src="{{owner.avatar_url}}" alt="user image"></span>
        <span id="b">
                  <p>
                <button class="button">NAME: <a target="_blank" href="{{owner.html_url}}">{{owner.login}}</a></button>
                <button class="button">FOLLOWERS: {{owner.followers}}</button>
                <button class="button">FOLLOWING: {{owner.following}}</button>
                <button class="button">REPOS: {{owner.public_repos}}</button>
            </span>
      </ul>
    </aside>