<div id="container">

  <header>
    <div class="width">
      <h1><a href="/">Github Search</a></h1>
    </div>
  </header>

  <div id="body" class="width">
    <p class="text-center">Welcome, please enter a github repo name or username and search!!</p>
    <aside class="sidebar small-sidebar left-sidebar">

      <ul>
        <li class="text">
          <form method="get" class="searchform" action="#">
            <p>
              <input type="text" placeholder="Enter search item" #search class="s" />
              <button class="btn btn-primary" on-click="doSearch(search.value)">Search</button>
            </p>
          </form>
        </li>
      </ul>

      <ul *ngFor="let owner of AS.results2">
        <span id="a"><img class="img-circle center-block" src="{{owner.avatar_url}}" alt="user image"></span>
        <span id="b">
                  <p>
                <button class="button">NAME: <a target="_blank" href="{{owner.html_url}}">{{owner.login}}</a></button>
                <button class="button">FOLLOWERS: {{owner.followers}}</button>
                <button class="button">FOLLOWING: {{owner.following}}</button>
                <button class="button">REPOS: {{owner.public_repos}}</button>
            </span>
      </ul>
    </aside>
    <section id="content" class="three-column">
      <div class="text-center center-block">
        <p class="lead" id="loading" *ngIf="loading">Loading . . . . Please wait</p>
      </div>
      <article class="middle-section">
        <h2>USER'S REPOSITORIES</h2>
        <hr>
        <ul class="center-block">
          <li *ngFor="let item of AS.results" class="button button-reversed">
            REPO-NAME: <a target="_blank" href="{{item.url}}">{{item.name}}</a>
            <br>DESCRIPTION: {{item.description}}
            <br>FORKS: {{item.forks}}
            <br>WATCHERS: {{item.watchers}}
            <br>STARS: {{item.stargazers_count}}
          </li>
          <li *ngIf="AS.isEmptyObject(AS.results)" class="repofound">
            No user repos!
          </li>
        </ul>
      </article>
    </section>
    <aside class="sidebar small-sidebar right-sidebar">
      <ul *ngIf="AS.results1">
        <ul *ngFor="let det of AS.results1">
          <h3>{{det.total_count}} REPOSITORIES FOUND!!</h3>
          <ul class="blocklist">
            <li class="button button-reversed" *ngFor="let detail of AS.results3">
              <br>REPO-NAME:
              <a target="_blank" href="{{detail.html_url}}">{{detail.name}}</a>
              <br>OWNER:<a target="_blank" href="{{detail.owner.html_url}}">{{detail.owner.login}}</a>
              <br>DESCRIPTION: {{detail.description}}
              <br>FORKS: {{detail.forks}}
              <br>WATCHERS: {{detail.watchers}}
              <br>STARS: {{detail.stargazers_count}}
              <li>
          </ul>
        </ul>
      </ul>
      <ul *ngIf="AS.isEmptyObject(AS.results1)" class="repofound">
        search repos to view them here!
      </ul>
    </aside>
    <div class="clear "></div>
    <footer>
      <p>&copy; 2018. mwangi
      </p>
    </footer>
  </div>